{% from "molten/map.jinja" import molten with context %}

external_auth:
  pam:
{% for user in molten.api_users %}
    {{ user }}:
      - .*
      - '@runner'
      - '@wheel'
      - '@jobs'
{% endfor %}

rest_cherrypy:
  port: {{ molten.api_bind_port }}
  host: {{ molten.api_bind_interface }}
  debug: True
  disable_ssl: True
  socket_queue_size: 500
  thread_pool: 500
  log_access_file: /tmp/cherry_access.log
  log_error_file: /tmp/cherry_error.log
  static: {{ molten.install_dir }}/molten
  static_path: /assets
  app: {{ molten.install_dir }}/molten/index.html
  app_path: /molten
